html {
	box-sizing: border-box;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	background-color: $sand;
    margin: 0;
}

.icon-boat { 
	color: #fff;
	font-size: 10em;
    padding: 8rem 8rem;
    text-align: center;   
}

.icon-boat:hover {
    color: $orange;
}

.bounce {
	position: absolute;
    animation: animated  6s linear infinite;
    animation: popup 6s linear infinite;
}

@keyframes animated{
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(10deg) translateX(30px) rotate(10deg); }
}

@keyframes popup {
    0% {
    transform: translateX(10px);
    }
    0% {
    transform: translateY(10px);
    }
    20% {
    transform: translateX(40px);
    }
    20% {
    transform: translateY(20px);
    }
}

.bg {
    background-color: $sky;
    width: 100%;
}

.sea {
    padding: 2rem 2rem 10rem 2rem;
    width: 100%;
    @media only screen and (min-width: 30em){
        padding: 5rem;
    }
    @media only screen and (min-width: 50em){
        padding: 5rem 20rem;
    }
}